<configuration>
    <!-- Appender Console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender gửi log tới Logstash -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>logstash:5000</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <loggerName/>
                <threadName/>
                <message/>
                <mdc/>
                <pattern>
                    <pattern>{"traceId":"%X{traceId}","spanId":"%X{spanId}"}</pattern>
                </pattern>
                <stackTrace/>
            </providers>
        </encoder>

        <!-- Chỉ lấy log INFO trở lên -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <ringBufferSize>65536</ringBufferSize>
    </appender>

    <!-- AsyncAppender để tránh block -->
    <appender name="ASYNC_LOGSTASH" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="LOGSTASH"/>
        <queueSize>20000</queueSize>
        <discardingThreshold>20</discardingThreshold>
        <neverBlock>true</neverBlock>
        <maxFlushTime>1000</maxFlushTime>
        <includeCallerData>false</includeCallerData>
    </appender>

    <!-- Hibernate SQL log -->
    <logger name="org.hibernate.SQL" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC_LOGSTASH"/>
    </logger>

    <!-- Hibernate bind parameter -->
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC_LOGSTASH"/>
    </logger>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC_LOGSTASH"/>
    </root>

    <!-- P6Spy logger to ship JSON lines to Logstash -->
    <logger name="p6spy" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC_LOGSTASH"/>
    </logger>
</configuration>
